In [1]:
import pandas as pd
df = pd.read_csv('D:/GeekBrains/Part_2/HomeWork/2023/_02_/Home_Work_02.02.23/california_housing_test.csv')
df.head(n = 5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [2]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

| Задача 40: Работать с файлом california_housing_train.csv, 
который находится в папке sample_data. Определить среднюю стоимость дома, 
где кол-во людей от 0 до 500 (population)

In [8]:
df[df['population'] < 500]['median_house_value']

3       330000.0
15      153100.0
16      181300.0
34      183800.0
51       47500.0
          ...
2929    179200.0
2947    140600.0
2960    500001.0
2992    500001.0
2998    162500.0
Name: median_house_value, Length: 303, dtype: float64

| Задача 42: Узнать какая максимальная households в зоне минимального значения population |

In [10]:
df[df['population'] == df['population'].min()]['households'].max()

3.0